@import url("https://fonts.googleapis.com/css?family=Unica+One");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container-state {
  width: 100%;
  height: 100vh;
  background-color: #080202;
  color: #f8f8f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .container-state__frame {
    width: 32%;
    margin-left: 10%; }
  .container-state__title {
    font-family: "Unica One", cursive;
    font-size: 4.5em;
    margin-bottom: 0.52em;
    margin-left: -4.8px; }
  .container-state__description {
    font-family: "Cormorant Garamond", serif;
    line-height: 27px;
    font-size: 1.4em;
    margin-bottom: 1.65em; }
  .container-state__link {
    color: #f8f8f7;
    font-family: "Roboto", sans-serif;
    text-decoration: none; }
